
<div class="event c">
    <div class="event-header lvl-1">
      <a routerLink="/event/{{event.id}}">{{event.name}}</a>   
    </div>
    <!-- <div class="event-info">
      <p>{{event.info}}</p>
      <br>
    </div> -->
    <!-- <div class="sub-events">
      <div class="subevent" *ngFor="let subevent of event.subevents">
        <p><b>{{subevent.title}}</b></p>
        <div class="sub-event">
          <div class="r wr">
            <span class="user" *ngFor="let member of subevent.members">{{member.name}}</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>