<div class="task-interface c" *ngFor="let task of tasks | async">

  <div class="overall-task c">
    <div class="r">
      <div class="c f1">
        <div class="r">
          <h1 class="f1">{{task.title}}</h1>
          <h1>{{task.due_at}}</h1>
        </div>
        <span>Deadline: {{task.due_at}}</span>
        <br>
        <div class="r">
          <a class="member r" routerLink="/member/{{member.uid}}" *ngFor="let member of task.members">
            <img [src]="member.photoUrl"/>
            {{member.name}}
          </a>
        </div>
        <br>

      </div>
    </div>
    <div class="action-bar r">
      <div class="btn paper paper-raise " >Mark as Complete</div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="btn paper paper-raise" >Edit</div>
      <div class="f1"></div>
      <div class="btn paper paper-raise" (click)="delete(task)">Delete</div>
    </div>
  </div>
  <div class="task-info c">
    <p class="c">
      <b>Description</b>
      {{task.info}}
    </p>
  </div>
  <div class="c">

    <div class="subtask" *ngFor="let subtask of task.subTasks">

      <h3>{{subtask.title}}</h3>
      <p>{{subtask.info}}</p>
      <!-- <div class="sub-task-list c">
          <div class="sub-task-form c">
            <h3>{{subtask.title}} > New Subtask</h3>
            <input placeholder="subtask-title" [(ngModel)]="subtask.title" name="subtask-title"/>
            <br>
            <textarea placeholder="subtask-info"  [(ngModel)]="subtask.info" name="subtask-info"></textarea>
            <br>
            <input type="date"  [(ngModel)]="subtask.due_at" max="task.due_at" name="subtask-due_at"/>
            
            <div class="input-row r">
              <div class="members r wr">
                  <div class="input-label c">
                    Members
                  </div>
                <div class="member r" *ngFor="let member of members | async" (click)="addMember(member)">
                  <img [src]="member.photoUrl"/>
                  {{member.name}}
                </div>
              </div>
            </div>
    
            <div class="submission-row r">
              <div class="btn paper paper-raise publish-btn" (click)="update()">Add Subtask</div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="btn paper paper-raise" (click)="discard()">Discard</div>
            </div>
          </div>
        
      </div> -->
    </div>

    <div class="sub-task-form c" *ngIf="displaySubTaskForm">
      <h3>{{task.title}} > New Subtask</h3>
      <input placeholder="subtask-title" [(ngModel)]="newTask.title" name="subtask-title"/>
      <br>
      <textarea placeholder="subtask-info"  [(ngModel)]="newTask.info" name="subtask-info"></textarea>
      <br>
      <input type="date"  [(ngModel)]="newTask.due_at" max="task.due_at" name="subtask-due_at"/>
      
      <div class="input-row r">
        <div class="members r wr">
            <div class="input-label c">
              Members
            </div>
          <div class="member r" *ngFor="let member of members | async" (click)="addMember(member)">
            <img [src]="member.photoUrl"/>
            {{member.name}}
          </div>
        </div>
      </div>

      <div class="submission-row r">
        <div class="btn paper paper-raise publish-btn" (click)="update(task)">Add Subtask</div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="btn paper paper-raise" (click)="discard()">Discard</div>
      </div>
    </div>
    <br>
    <div class="r" *ngIf="!displaySubTaskForm">
      <div class="btn paper paper-raise publish-btn" (click)="showSubtaskForm()">Add a Subtask</div>
    </div>
  </div>
</div>