
.task-interface{
    padding:1em 2em;
}

.due{
    background-color:rgba(192, 173, 113,0.2);
    padding:2rem;
    font-size:3em;
    font-weight:bold;
    border-radius:2px;
}

.action-bar{

    .action-btn{
        padding:1em;

    }
}

.overall-task{
    padding-bottom:1rem;
    border-bottom:#eee solid 1px;
}

.subtask{
    border-bottom:#eee solid 1px;
}

.member{
    box-shadow: none;
    background-color:rgba(192, 173, 113,0.2);
}