<div class="task-interface c" *ngFor="let task of tasks | async">
  <div class="overall-task r">
    <div class="c f1">
      <h1>{{task.title}}</h1>
      <div class="r">
        <div class="member r" *ngFor="let member of task.members">
          <img [src]="member.photoUrl"/>
          {{member.name}}
        </div>
      </div>
      <p>{{task.info}}</p>
      <div class="action-bar r">
        <div class="btn paper paper-raise " >
          Mark as Complete
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="btn paper paper-raise" >
          Edit
        </div>
      </div>
    </div>
    <div class="due">
      {{task.due_at}}
    </div>
  </div>
  <div class="c">
    <div class="subtask" *ngFor="let subtask of task.subTasks">
      <h3>{{subtask.title}}</h3>
      <p>{{subtask.info}}</p>
      <div class="text-btn">+ add a subtask</div>
    </div>
  </div>
  <!-- <pre>
    {{task | json}}
  </pre> -->
</div>