
<div class="task c">
  <div class="task-header lvl-1">
    <a routerLink="/task/{{task.id}}">{{task.title}}</a>   
  </div>
  <div class="task-info">
    <p>{{task.info}}</p>
  </div>
  <div class="sub-tasks">
    <div class="subtask" *ngFor="let subtask of task.subTasks">
      <p><b>{{subtask.title}}</b></p>
      <div class="sub-task">
        {{subtask.info}}
        <p class="user">Han Qiu</p>
      </div>
    </div>
  </div>
  <div class="r">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>            
  </div>
</div>