<div class="app r">

  <div class="app-side-menu c">

    <div class="app-side-nav">
      {{ (user | async)?.displayName }}
    </div>
    <div class="app-side-nav">
      OVERALL
    </div>
    <div class="app-side-nav">
      TASKS
    </div>
    <div class="app-side-nav">
      GANTT
    </div>
    <div class="app-side-nav">
      RESOURCES
    </div>
    <div class="f1"></div>
    <div class="btn paper paper-raise" (click)="login()">Login</div>
    <div class="btn paper paper-raise" (click)="logout()">Logout</div>

    <!-- <div class="c">
        <img class="logo" src="http://www.cppib.com/media/original_images/logo3x.png"/>
        <img class="logo"src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/UofT_Logo.svg/1280px-UofT_Logo.svg.png"/>
    </div> -->

  </div>

  <div class="c f1 ofys">
    <div class="page-cover">
      <h2>Work Breakdown Structure</h2>
      <p class="caption"><i>Develop a Work Breakdown Structure (WBS) to ensure that you do not overllok a significant part of a complex activity or under-estimate teh time and resources needed to completed the work. Use mulitple pages as needed.</i></p>

      <app-task-form></app-task-form>
    </div>
    <div class="task-list">
      <app-task-list-item [task]="task" *ngFor="let task of tasks | async"></app-task-list-item>
    </div>
  </div>

</div>