<div class="app c">

  <div class="app-head-bar r">
    <a class="app-head-nav r" routerLink="/home">
      MPC - CPPIB
    </a>
    <div class="f1"></div>
    <a class="app-head-nav r" routerLink="/member/{{(user | async)?.uid}}">
        {{ (user | async)?.displayName }}
    </a>
  </div>

  <div class="r f1">
  
    <div class="app-side-menu c">

      <a class="app-side-nav" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-th-list" aria-hidden="true"></i>
        &nbsp;        
        Work Breakdown
      </a>
      
      <a class="app-side-nav" routerLink="/gantt" routerLinkActive="active">
        <i class="fa fa-tasks" aria-hidden="true"></i>        
        &nbsp;        
        Gantt Chart
      </a>
      
      <a class="app-side-nav" routerLink="/messages" routerLinkActive="active">
        <i class="fa fa-comments-o" aria-hidden="true"></i>        
        &nbsp;        
        Messages
      </a>


      <a class="app-side-nav" routerLink="/events" routerLinkActive="active">
        <i class="fa fa-calendar" aria-hidden="true"></i>        
        &nbsp;        
        Critical Dates
      </a>
      <br>
      <div class="menu-category">
        RESOURCES
      </div>

      <a class="app-side-nav" routerLink="/events" routerLinkActive="active">
        <i class="fa fa-users" aria-hidden="true"></i>        
        &nbsp;        
        Contacts
      </a>


      <a class="app-side-nav" routerLink="/events" routerLinkActive="active">
        <i class="fa fa-users" aria-hidden="true"></i>        
        &nbsp;        
        Resources
      </a>
      

      <br>
      <div class="menu-category">
        MEMBERS
      </div>
      <a class="app-side-nav" *ngFor="let member of members | async" routerLink="/member/{{member.uid}}" routerLinkActive="active">
        <img [src]="member.photoUrl"/>     
        &nbsp;        
        {{member.name}}
      </a>
  
      <div class="f1"></div>
      <div class="app-side-nav" (click)="login()">
        Login
      </div>
  
      <div class="app-side-nav" (click)="logout()">
        Logout
      </div>
  
  
    </div>
  
    <div class="app-main c f1 ofys">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>