<div class="messages-interface c f1">

  <div class="c">
      <div class="message r">
        <div class="profile-img">
          <img src="https://lh6.googleusercontent.com/-dRsj88wbvqA/AAAAAAAAAAI/AAAAAAAAAAo/yBROtbLgriY/photo.jpg"/>
        </div>
        &nbsp;&nbsp;
        <div class="c f1">
          <div class="r">
            <span class="name">
              Han Qiu
            </span>
            &nbsp;&nbsp;
            <span class="time">
              1:11 AM
            </span>
          </div>
    
          <div class="r">
            Anyone want to get a cup of coffee?
          </div>
        </div>
      </div>
      <div class="message r">
        <div class="profile-img">
          <img src="https://lh6.googleusercontent.com/-dRsj88wbvqA/AAAAAAAAAAI/AAAAAAAAAAo/yBROtbLgriY/photo.jpg"/>
        </div>
        &nbsp;&nbsp;
        <div class="c f1">
          <div class="r">
            <span class="name">
              Han Qiu
            </span>
            &nbsp;&nbsp;
            <span class="time">
              1:11 AM
            </span>
          </div>
    
          <div class="r">
            ok what time
          </div>
        </div>
      </div>
      <div class="message r">
        <div class="profile-img">
          <img src="https://lh6.googleusercontent.com/-dRsj88wbvqA/AAAAAAAAAAI/AAAAAAAAAAo/yBROtbLgriY/photo.jpg"/>
        </div>
        &nbsp;&nbsp;
        <div class="c f1">
          <div class="r">
            <span class="name">
              Han Qiu
            </span>
            &nbsp;&nbsp;
            <span class="time">
              1:11 AM
            </span>
          </div>
    
          <div class="r">
            Now
          </div>
        </div>
      </div>

  </div>
  <p>{{content}}</p>
  <div class="message-input r">
    <form class="message-input-form f1 r">
      <input class="message-text-input f1" placeholder="Message" [(ngModel)]="content"/>
    </form>
  </div>
</div>