<div class="c">
  <div class="page-cover">
    <h2>Work Breakdown Structure</h2>
    <p class="caption"><i>Develop a Work Breakdown Structure (WBS) to ensure that you do not overllok a significant part of a complex activity or under-estimate teh time and resources needed to completed the work. Use mulitple pages as needed.</i></p>
    <app-task-form></app-task-form>
  </div>
  <div class="task-list c">
    <app-task-list-item [task]="task" *ngFor="let task of tasks | async"></app-task-list-item>
  </div>
</div>